<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/Core/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Modals" />
<f:section name="content">
<f:be.pageRenderer includeJavaScriptModules="{0: '@t3planet/RteCkeditorPack/import-export.js'}"/>
<div class="ckeditor-modal-form">
    <form id="importPresetForm" enctype="multipart/form-data">
        <div id="ckeditor-modal" class="ckeditor modal d-block">
            <div class="ckeditor-modal-content modal-content ckeditor__action-wrapper">
                <div class="t3js-modal-body modal-body">
                    <f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}" />
                    <div class="import-preset form-section-custom">
                        <div class="mb-0">
                            <label for="yaml-file" class="form-label fw-semibold">
                                <f:translate key="form.import_yaml_file" extensionName="RteCkeditorPack" />
                            </label>
                            <input type="file" id="yaml-file" name="yamlFile" class="form-control form-control-sm" accept=".yaml,.yml" required aria-describedby="yaml-file-help" />
                            <div id="yaml-file-help" class="form-text text-muted mt-1 mb-0">
                                <f:translate key="form.import_yaml_file.description" extensionName="RteCkeditorPack" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t3js-modal-footer modal-footer d-flex justify-content-end gap-2 border-top">
                    <button type="submit" class="btn btn-notice" id="importPresetBtn" disabled>
                        <core:icon identifier="actions-file-t3d-upload" size="small" />
                        <span class="ms-1"><f:translate key="presets.import.button" extensionName="RteCkeditorPack" /></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</f:section>
</html>