<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/Core/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Modals" />
<f:section name="content">
<f:be.pageRenderer includeJavaScriptModules="{0: '@t3planet/RteCkeditorPack/import-export.js'}"/>
<div class="ckeditor-modal-form">
    <div id="ckeditor-modal" class="ckeditor-modal-form ckeditor modal d-block">
        <div class="ckeditor-modal-content modal-content ckeditor__action-wrapper">
            <div class="t3js-modal-body modal-body">
                <f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}" />
                <div class="import-preset mt-4">
                    <div class="card">
                        <div class="card-body">
                            <form id="importPresetForm" enctype="multipart/form-data">
                                <div class="form-group form-group-custom">
                                    <label for="yaml-file" class="form-label">
                                        <f:translate key="form.import_yaml_file" extensionName="RteCkeditorPack" />
                                    </label>
                                    <input type="file" id="yaml-file" name="yamlFile" class="form-control" accept=".yaml,.yml" required />
                                    <div class="form-text">
                                        <f:translate key="form.import_yaml_file.description" extensionName="RteCkeditorPack" />
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" id="importPresetBtn" disabled>
                                    <core:icon identifier="actions-file-t3d-upload" size="small" />
                                    <span class="ms-1"><f:translate key="presets.import.button" extensionName="RteCkeditorPack" /></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</f:section>
</html>