<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/Core/Core/ViewHelpers"
    xmlns:ckit="http://typo3.org/ns/T3Planet/RteCkeditorPack/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <div class="tab-pane fade {f:if(condition: '{currentModule} == features', then: 'show active')}" id="features-tab-pane" role="tabpanel" aria-labelledby="features-tab">
       <f:render partial="Dashboard/FeatureConfig" arguments="{_all}" />
    </div>

    <f:if condition="{availableModules}">
        <f:for each="{availableModules}" as="module" iteration="i">
            <div class="tab-pane fade {f:if(condition: '{module.key} == {currentModule}', then: 'show active')}" id="{module.key}-tab-pane" role="tabpanel" aria-labelledby="{module.key}-tab" tabindex="{i.index}">
                <h2 class="mb-3">{module.label}</h2>
                <div class="card-container">
                    <f:if condition="{module.cards}">
                        <f:for each="{module.cards}" as="card" iteration="j">
                            <f:if condition="{card.details}">
                                <div class="card card-size-small widget favorites-teaser {module.key}-favorites{f:if(condition: '{card.details.coming_soon}', then: ' disabled')} {f:if(condition: '{ckit:module(key: card.configuration.config_key)}', then: 'card--active')}">
                                    <div class="card-header">
                                        <div class="card-icon">
                                            <core:icon identifier="{card.details.icon}" size="medium" alternativeMarkupIdentifier="inline" />
                                        </div>
                                        <div class="card-header-body">
                                            <h2 class="card-title padding-right-lg">{card.details.title}</h2>
                                            <span class="card-subtitle">{card.details.subtitle}</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{card.details.description}</p>
                                    </div>
                                    <div class="card-footer">
                                        <f:if condition="{card.tab} == plugins">
                                            <f:then>
                                                <f:if condition="{card.configuration}">
                                                    <f:render section="footerButtons" arguments="{card:card,isLicense:1}" />
                                                </f:if>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{extSettings.licenseKey}">
                                                    <f:then>
                                                        <f:render section="footerButtons" arguments="{card:card,isLicense:1}" />
                                                    </f:then>
                                                    <f:else>
                                                        <f:render section="footerButtons" arguments="{card:card,isLicense:card.configuration.default}" />
                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                                                        
                                    </div>
                                </div>
                            </f:if>
                        </f:for>
                    </f:if>
                </div>
                <div id="dataNotFound" class="d-none">
                    <div class="typo3-messages">
                        <div class="alert alert-info">
                            <div class="media">
                                <div class="media-left">
                                    <core:icon identifier="actions-info-circle" size="medium" />
                                </div>
                                <div class="media-body">
                                    <h5 class="alert-title mb-0"><f:translate key="card.DataNotFound" extensionName="rte_ckeditor_pack" /></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </f:if>

    <div class="tab-pane fade {f:if(condition: '{currentModule} == settings', then: 'show active')}" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab">
        <f:render partial="Dashboard/GeneralSettings" arguments="{_all}" />
    </div>

    <div class="tab-pane fade" id="Favorites-tab-pane" role="tabpanel" aria-labelledby="Favorites-tab">
        <h2 class="mb-3"><f:translate key="ckeditorKit.tab.Favorites" extensionName="rte_ckeditor_pack" /></h2>
        <f:render partial="Dashboard/Wishlist" arguments="{_all}" />
    </div>
</f:section>
</html>
    
<f:section name="footerButtons">
    <f:if condition="{card.is_toggle} && {isLicense}">
        <f:then>
            <input type="hidden" name="modules[{card.configuration.config_key}]" value="0" />
            <input id="module-{card.configuration.config_key}" value="1" class="btn-check btn-toggle feature-toggle" type="checkbox" 
            name="modules[{card.configuration.config_key}]" {f:if(condition: '{ckit:module(key: card.configuration.config_key)}', then: 'checked')}/>
            <label class="btn btn-default" for="module-{card.configuration.config_key}">
                <core:icon identifier="actions-check-circle" size="small" />
                <core:icon identifier="actions-check-circle-alt" size="small" />
                <f:translate key="ckeditorKit.tab.card.checkbox.enable" extensionName="rte_ckeditor_pack"/>
            </label>
        </f:then>
        <f:else>
            <f:if condition="!{isLicense}">
                <f:then>
                    <button type="button" class="btn btn-default" title="{card.details.title}"
                        data-feature="0"
                        data-key="{f:translate(key:'ckeditorKit.key_missing', extensionName: 'rte_ckeditor_pack')}"
                        data-identifier="ckeditorGlobalWizardButton">
                        {card.details.buttonTitle}
                    </button>
                </f:then>
                <f:else>
                    <button type="button" class="btn btn-default"
                        data-identifier="ckeditorGlobalWizardButton" data-modal-size="{card.details.modalSize}"
                        title="{card.details.title}" data-additionalparams="{ckit:arrayToString(input: card.configuration)}"
                        data-model-class="" data-model-name=""
                        data-module-key="{card.moduleData.key}"
                        data-key="{f:if(condition: '{card.details.coming_soon}', then: 'get_ckeditorKit_coming_soon', else:'get_ckeditorKit_settings')}"><core:icon identifier="actions-cog" size="small" />
                        <f:if condition="{card.details.coming_soon}">
                            <f:then><f:translate key="ckeditorKit.tab.card.coming-soon" /></f:then>
                            <f:else>{card.details.buttonTitle}</f:else>
                        </f:if>
                    </button>
                </f:else>
            </f:if>
        </f:else>
    </f:if>  
</f:section>