.t3-ckeditor {
    display: grid;
    grid-template-areas:
        "moduleDocHeader"
        "moduleBody";
    grid-template-rows: auto 1fr;
    height: 100dvh;
    position: relative;
    width: 100%;
}

.t3-ckeditor .module-body {
    grid-area: moduleBody;
    overflow: auto;
    padding: var(--module-body-padding);
    position: relative;
}

.t3-ckeditor .dashboard-header{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;margin:calc(-1 * var(--module-body-padding-y)) calc(-1 * var(--module-body-padding-x)) var(--module-body-padding-y);padding:var(--module-body-padding-y) var(--module-body-padding-x) 0;background:light-dark(#dadada, #262626);border-bottom:1px solid light-dark(#cdcdcd, #262626)}
.t3-ckeditor .module-docheader {
    border-bottom: 1px solid light-dark(#cbcacc, #3b3a3f);
}

/*Dashboard*/

#dashboardTab h2 {
    margin-top: 0;
}

.footer-links li {
    padding-left: 20px;
    position: relative;
}
.footer-links li:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 1px;
    height: 80%;
    transform: translateY(-50%);
    background-color: light-dark(#262626, #cdcdcd);
}

.dashboard-tab.active {
    background: #f7f7f7;
    color: #000;
}

.t3-ckeditor .dashboard-tabs {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap: 4px;
}

.t3-ckeditor .dashboard-tab.btn-notice {
    padding: 5px 8px;
    border: 0;
    -webkit-margin-after: 0;
    box-shadow: none;
}

.t3-ckeditor .dashboard-tab.btn-notice:hover {
    z-index: auto !important;
}

.dashboard-tab {
    border-width: 1px;
}

.dashboard-tab.active:focus,
.dashboard-tab.active:hover {
    text-decoration: none;
    background: #f7f7f7;
    color: #000;
}

.t3-ckeditor .card-header {
    position: relative;
}
.t3-ckeditor .widget-actions {
    position: absolute;
    right: 5px;
    top: 5px;
}
.card.selected .widget-actions {
    opacity: 1;
}

.card.selected .widget-actions .icon-actions-heart-alt {
    display: block;
}

.widget-action-wishlist *,
.dashboard-modal-item-block * {
    pointer-events: none;
}

.card.selected .widget-actions .icon-actions-heart,
.widget-action-wishlist .icon-actions-heart-alt {
    display: none;
}

.dashboard-tab-favorite,
.dashboard-tab.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.dashboard-tab-favorite.selected {
    pointer-events: all;
    opacity: 1;
}

.widget.disabled {
    opacity: 0.7;
    box-shadow: none;
}

.card--active .icon-actions-toggle-off,
.card .btn .icon-actions-toggle-on {
    display: none;
}

.card--active .btn .icon-actions-toggle-on {
    display: block;
}

.ckeditor .btn-check:checked+.btn,
.ckeditor .btn.active,
.ckeditor .btn[aria-pressed=true],
.ckeditor :not(.btn-check)+.btn:active,
.t3-ckeditor .btn-check:checked+.btn,
.t3-ckeditor .btn.active,
.t3-ckeditor .btn[aria-pressed=true],
.t3-ckeditor :not(.btn-check)+.btn:active {
    box-shadow: none !important;
}

[data-identifier="ckeditorGlobalWizardButton"] * {
    pointer-events: none;
}

.drag-drop-items {
    height: 42px;
    flex: 0 0 42px;
}


/*Loader*/
#rte-ckeditor__loader {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#rte-ckeditor__loader.ns-show-overlay {
    display: block;
    z-index: 99999;
}

#rte-ckeditor__loader.ns-show-overlay::after {
    background-color: light-dark(#fff, #262626);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#rte-ckeditor__loader.ns-show-overlay .icon-t3ai-loading {
    --icon-size: 100px;
    height: var(--icon-size);
    width: var(--icon-size);
}

#rte-ckeditor__loader .icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#rte-ckeditor__loader .loader-text {
    font-size: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, calc(-50% + 65px));
    z-index: 9;
}

.icon-ckeditor_module_dark {
    color: #1f5aad;
}

.ckeditor .icon-actions-heart-alt,
.t3-ckeditor .icon-actions-heart-alt {
    color: var(--token-color-primary-base);
}

.btn-link--purple {
  color: var(--token-color-primary-base) !important;
}

.t3-ckeditor .btn-default--disable,
.ckeditor .btn-default--disable {
    box-shadow: none;
    /* color: var(--token-color-primary-base); */
    background-color: light-dark(#fff, #393939);
    border: 1px solid var(--typo3-state-default-border-color);
}