.ckeditor-modal-form {
  min-height: 100vh;
  height: 100vh;
}

.ckeditor-modal-form .ckeditor {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

.ckeditor-modal-content.modal-content {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}